* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header-basic-settings {
  background-image: url(../img/beachshowcase.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}

.header-basic-settings h1 {
  font-size: 50px;
  padding-top: 40vh;
}
.header-basic-settings p {
  font-size: 20px;
  padding: 30px;
}
.header-basic-settings .button {
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.button:hover {
  color: #fff;
  background: #926239;
}

.sections {
  padding: 20px;
  text-align: center;
  font-size: 17px;
}
footer > div {
  display: inline-block;
  width: 32.7507vw;
  padding: 20px;
  font-size: 17px;
}

.color-back {
  background: #926239;
}
.color-back-2 {
  background: #f4f4f4;
}
.color-brown {
  color: #926239;
}
.color-white {
  color: #fff;
}
